# Polynomial Regression implemenatation on "Position_Salaries" data set

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
#Importing Data
dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000